
.test{
    color:blue;
    font-size:20px;
}
.navStyle {
    display:inline-block;
    width:100%;
    height:8vh;
    color:red;
    background-color:black;
}
.link{
    display:inline-block;
    padding:0 1vw 0 1vw;
    decoration:none;
    backgroundColor:green;
}
.scanList{

    width:30vw;
    height:80vh;
    clear:right;
    display:inline-block;
    float:left;
    margin:4px;
    overflow:scroll;

}
.scanItem{
    clear:both;
    border:1px solid black;
    margin:1vh;
}
.scan{
    margin-top:10px;
    border:2px solid grey;
    border-radius:20px;
}
.customBadge{
    border-radius:50%;
    background-color:Red;
    color:black;
    font-size:3vw;
    float:right;
}
.addScan{
    border:1px solid black;
    width:30vw;
    display:inline-block;
    margin:4px;
    height:40%;
    border:1px solid green;
    float:left;
}
.mainView{
    margin:6px;
    width:100%;

}
.finding{
    padding:1%;
    border: 1px solid green;
    width:30vw;
    float:left;
}
.information{
    background-color:#838594;
    border-radius:20px;
    margin:5px;
    text-align:center;

}